@keyframes toShow {
    from {

        height: 0;
        visibility: hidden;
    }
    to {
        height: unset;
        visibility: collapse;
    }
}

@keyframes popupToShow {
    from {
        transform: scale(.8);
        transition: transform .2s ease-in-out;
    }
    to {
        transform: scale(1);
        transition: transform .2s ease-in-out;
    }
}