@keyframes toShow {
    from {

        height: 0;
        visibility: hidden;
    }
    to {
        height: unset;
        visibility: collapse;
    }
}

@keyframes popupToShow {
    from {
        transform: scale(.8);
        transition: transform .2s ease-in-out;
    }
    to {
        transform: scale(1);
        transition: transform .2s ease-in-out;
    }
}

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
@keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }


@keyframes recyble {
    0% {
          transform: rotate(25deg);
    }

    50% {
        transform: rotate(-25deg);
    }
    75% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(-25deg);
    }

}
