@import url('./responsive.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Font-Product-1;
    src: url(./fonts/MYRIADPRO-BOLD.OTF) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    }
@font-face {
    font-family: Font-Product-2;
    src: url(./fonts/MYRIADPRO-BOLDIT.OTF) format("truetype");
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
    }
:root{
    /* FONT-FAMILY */
    --font-family-myriad-pro: "Myriad Pro";

    /* Text color */
    --color-text-1: #054062;
    --color-text-2: #096bab;
    --color-text-3: #010101;
    --color-text-4: #fff;
    --color-text-5: #4784a4;
    --color-text-link-white: #fff;
    --color-text-link-new: #096bab;
    --color-btn-more-new: #ed2224;

    /* Background */

    --background-main: #ebebef;
    --background-menu: #054062;
    --background-head-active-white: #fff;
    --background-iconls-close-menu: red;
    --background-action-btn: #7e7f7f;
    --background-action-btn-active: #054062;
    --background-btn: #054062;
    --background-paper: #e9faf0;


    /* CONFIG */
    --width-all-main: 1920px;
    /* FONT SIZE */
    --font-size-p-tablet: 20px;
    --font-size-p-mobile-425: 15px;
    --font-size-p-mobile-375: 14px;
    --font-size-p-mobile-320: 14px;
    --font-size-h1-tablet: 1.7rem;
    --font-size-h1-mobile-425: 1.5rem;
    --font-size-h1-mobile-375: 1.2rem;
    --font-size-h1-mobile-325: 1rem;
    --font-size-h2-tablet: 1.5rem;
    --font-size-h2-mobile-425: 1.3rem;
    --font-size-h2-mobile-375: 1.2rem;
    --font-size-h2-mobile-325: 1.2rem;
    --font-size-h2-mobile-320: 1.3rem;
    --font-size-h3-tablet: 1.2rem;
    --font-size-h3-mobile-375: 1rem;
    --font-size-h3-mobile-325: 1rem;
    --font-size-h3-mobile-425: 1rem
    
}

body {
    max-width: var(--width-all-main) !important;
    margin: 0 auto !important;
    background: var(--background-main) !important;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

.wrap-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}



a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    outline: none;
    border: none;
    /* border-color: #333 !important; */
    color: #333;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input:focus{
    box-shadow: rgba(41, 46, 51, 0.2) 0px 8px 24px;;
}

textarea{
    width: 100%;
    padding: 12px;
    border-radius: 12px;
}




/* COLUM */
.grid-tempalte-colum-2 {
    grid-template-columns: repeat(2,1fr);
}
.grid-tempalte-colum-3 {
    grid-template-columns: repeat(3,1fr) ;
}

.grid-tempalte-colum-4 {
    grid-template-columns: repeat(4,1fr) ;
}

.grid-tempalte-columns-large-5{
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}

/* GAP GRID */

.gap-32 {
    grid-gap: 32px;
}

.gap-10{
    gap: 10px;
}

.gap-16{
    grid-gap: 16px;
}

.grid-gap{
    grid-gap:52px;
}

.grid {
    display: grid;
}

.gap-12 {
    grid-gap:12px;
}

.gap-12-2{
    grid-gap: 2px 12px;
}

.gap-20{
    grid-gap: 20px;
}

.gap-4-16{
    grid-gap: 4px 16px;
}

.grid-tempalte-colums-large-7-3{
    grid-template-columns: 70% auto;;
}

/* FLEX */

.flex {
    display: flex; 
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center{
    justify-content: center;
}
.justify-content-space-betweent {
    justify-content: space-between;
}



.align-items-center{
    align-items: center;
}

/* 
.form-feild{
    width: 650px;
    margin: 0 auto;
} */

form {
    margin: 16px 0;
    z-index: 1;
}
.form-feild .form-title{
    font-size: 12px;
    text-align: center;
}

form .form-group{
    padding: 2px;
    margin-bottom: 8px;
}

form label{
    font-size: 12px;
}

.btn{
    border: none;
    padding: 8px 24px;
    outline: unset;
    font-size: 12px;
    border-radius: 3px;
}

.btn-submit {
    background: #4267B2;
    color: #fff;
    font-weight: 500;
}

.form-control{
    width: 100%;
}

table {

    margin: 16px auto;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    width: 100%;
}

table th {
    font-weight: 400;
    font-size: 12px;
    background:hsla(0, 6%, 78%, 0.2)
}

table th, table td {
    text-align: center;
    padding: 4px 8px;
    border: 1px solid #ddd;
    font-size: 12px;
    vertical-align: middle;
    padding: 10px;
  
}

table td {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.popup-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(41, 46, 51, 0.2);
    display: none;
    transition: all .2s ease-in-out;
}

.popup-modal.active{
    display: flex;
    z-index: 1;
}

.box-alert{
    text-align: center;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 48px;
    margin: 0 auto;
    border-radius: 12px;
    animation-name: popupToShow;
    animation-duration: .2s;
    
    
}

.popup-modal .alert-item{
    margin: 16px 0;
    min-height: 62px;
}

.popup-modal .alert-item span{
    font-size: 42px;

}

.popup-modal .align-items .action{
    margin-right: 12px;
    gap: 10px;
    justify-content: center;
}

.action-agree,.action-delete{
    padding: 8px 24px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.action-delete{
    background: #f06548;
    color: #fff;
}


.action-delete:hover{
    opacity: .8;
}

.action-agree{
    background: #f3f6f9;
    color: #000;
    margin-right: 12px;

}

.action-agree:hover{
    opacity: .8;
}

form select{
    padding: 8px;
    border:1px solid rgba(149, 157, 165, 0.2);
    outline: none;
}